<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Contacts crud</h1>
      <p>
        This is an example of a contact crud. The contact crud is a simple crud
        with a list of contacts.
      </p>
      <p class="font-weight-bold text-danger">
        Don´t load personal information, this is a simple exercise.
      </p>
      <button class="btn btn-primary" (click)="goToList()">Go to List</button>
    </div>
  </div>
</div>
