<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Contacts crud</h1>
      <p>
        This is an example of a contact crud. The contact crud is a simple crud
        with a list of contacts.
      </p>
      <p class="font-weight-bold text-danger">
        Don´t load personal information, this is a simple exercise.
      </p>
      <button class="btn btn-primary" (click)="goToList()">Go to List</button>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-12">
      <h3>This project was developed with Angular and Firebase.</h3>
    </div>
    <div class="col">
      <img
        [height]="300"
        class="img-responsive"
        src="assets/images/angular.png"
        alt="Angular"
      />
    </div>
    <div class="col">
      <img
        [height]="300"
        class="img-responsive"
        src="assets/images/firebase.png"
        alt="Firebase"
      />
    </div>
  </div>
</div>
