<div class="mt-5">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Mail</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>bane</td>
        <td>phone</td>
        <td>Mail</td>
        <td class="btn-group">
          <button class="btn btn-primary" type="button">Edit</button>
          <button class="btn btn-danger" type="button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
