<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <button class="btn btn-link">Back to list</button>
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""
              ><img
                src="https://bootdey.com/img/Content/avatar/avatar7.png"
                alt=""
                width="150px"
                class="img-fluid rounded-circle"
            /></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>Emma A. Main</h5>
            <p class="m-0">Graphics Designer</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa fa-envelope float-right"></i>Email :
            <a href="#">PaulGoyette@gmail.com</a>
          </li>
          <li class="list-group-item">
            <i class="fa fa-phone float-right"></i>Phone : 000 123-456
          </li>
        </ul>
        <div class="card-footer">
          <div class="row justify-content-center">
            <div class="float-right btn-group btn-group-sm">
              <button class="btn btn-outline-primary">
                <i class="fa fa-edit fa-lg"></i>Editar
              </button>
              <button class="btn btn-outline-danger">
                <i class="fa fa-trash fa-lg"></i>Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
